<div ng-controller='TasksCtrl'>
  <ul>
    <li ng-repeat='task in tasks' ng-click='showTask(task)'>
    <h3>
      {{task.title}}
      <small>{{task.created_at | date: 'medium'}}</small>
    </h3>
    </li>
  </ul>

  <div id="task-details" ng-show='activeTask'>
    <h2>{{activeTask.title}}</h2>
    <p>{{activeTask.content}}</p>
  </div>
</div>
