<!DOCTYPE html>
<html ng-app>
<head>
  <title>Tasks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js' />
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js' />

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
